---
layout: default
title: Projects
---

<h1>Projects</h1>

<p>These are various projects I am working on:</p>
<p>&nbsp;</p>
<p><strong>Open Source projects:</strong></p>
<ul>
	<li><a href="https://editorconfig.org/">EditorConfig</a> <a href="https://github.com/editorconfig/editorconfig-notepad-plus-plus">plug-in</a> for <a href="https://notepad-plus-plus.org/">Notepad++</a></li>
	<li><a href="{% link nppsnippets.html %}">NppSnippets</a>, a code snippets plugin for <a href="https://notepad-plus-plus.org/">Notepad++</a></li>
	<li><a href="{% link indentbyfold.md %}">IndentByFold</a>, an auto indent plug-in for <a href="https://notepad-plus-plus.org/">Notepad++</a> based on the language folding level</li>
	<li><a href="{% link nppfilesettings.md %}">NppFileSettings</a>, a plug-in for <a href="https://notepad-plus-plus.org/">Notepad++</a> for people who work on cross platform projects</li>
	<li><a href="{% link npptags.html %}">NppTags</a>, a <a href="https://ctags.io/">Universal Ctags</a> plug-in for <a href="https://notepad-plus-plus.org/">Notepad++</a></li>
	<li><a href="{% link selectquotedtext.md %}">SelectQuotedText</a>, a plug-in for <a href="https://notepad-plus-plus.org/">Notepad++</a> to select the text between quotes</li>
	<li><a href="{% link rebootat.md %}">RebootAt</a>, Reboot Windows at a given time</li>
</ul>
<p>&nbsp;</p>

<p><strong>And these are the, now discontinued, projects I have been working on:</strong></p>

<p><i>Open source projects:</i></p>
<ul>
	<li><a href="http://dorgem.sourceforge.net">Dorgem</a>, a webcam capturing tool</li>
	<li><a href="http://findtag.sourceforge.net">FindTag</a>, an CTags add-on for TextPad</li>
	<li><a href="http://winxcalc.sourceforge.net/">WinXCalc</a>, a calculator based upon xcalc for Windows</li>
	<li><a href="http://sysmenuext.sourceforge.net/">SysMenuExt</a>, a (too) simple Windows system menu extension</li>
	<li><a href="http://prevrsi.sourceforge.net/">PrevRSI</a>, a RSI prevention tool</li>
	<li><a href="{% link nppjavascript/index.html %}">NppJavaScript</a>, a SpiderMonkey-based macro plugin for <a href="https://notepad-plus-plus.org/">Notepad++</a></li>
</ul>

<p><i>Freeware:</i></p>
<ul>
	<li><a href="{% link gpxviewer.html %}">GPX Viewer</a>, a GPX Viewer for Windows Mobile</li>
	<li><a href="{% link projects/mn_win.html %}">mn_win</a>, the <a href="http://www.pmail.com/">Mercury/32</a> Windows network integration</li>
	<li><a href="{% link projects/mercexec.html %}">MercExec</a>, a <a href="http://www.pmail.com/">Mercury/32</a> daemon that allows you execute commands on your server</li>
</ul>
