---
layout: default
title: MercExec
---

<h2>MercExec</h2>

<p>MercExec is a daemon for <a href="http://www.pmail.com/" target="_blank">Mercury/32</a> that allows you execute commands on your server by sending an email.</p>
<p>It was written because one day our VPN didn't work anymore, but the mail server was still available. If I could have send an email, I could have rebooted the server to regain VPN access. So I wrote a daemon that would allow me to execute a predefined set of commands on the server.</p>
<p>If you are not afraid to edit an XML file by hand, you can configure MercExec. All commands are completely user configurable. You are in complete control who you let execute commands and what commands are executed. There is a certain amount of authentication although you should be aware that email is not a safe way to authenticate. It you are afraid someone might abuse your server, <strong>do not</strong> install this daemon.</p>
<p>If you want to give it a try, please read the ReadMe.pdf file that is included in the download thoroughly before you install it.</p>
<p>Download <a href="{{site.downloadUrl}}/MercExec150.zip">MercExec 1.5.0</a>, 03-Oct-2007</p>
