---
layout: default
title: mn_win
---

<h2>mn_win</h2>

<p>mn_win is the Windows Network integration for <a href="http://www.pmail.com" target="_blank">Mercury/32</a>.</p>
<p>It allows you to let the user management be handled by Windows instead of adding them to the list of users by hand in the "Manage local users" dialog in Mercury.</p>
<p>The current release of mn_win is 0.3.0. As the low version number already indicaties, it is not yet complete and it has still an <strong>experimental pre-beta status</strong>. There are some known issues and known limitations, but it is already usable in a production environment. I use it at the office on our production mail server since July without a single problem.</p>
<p>If you want to give it a try, please know that it is still pre-beta software and not free of bugs. Please read the ReadMe.pdf file that is included in the download thoroughly before you install it. And please look at the list of known issues below, to see if any of this problems could harm you before installing it.</p>
<p>Download <a href="{{site.downloadUrl}}/mn_win-030.zip">mn_win 0.3.0</a>, released 04-Jul-2007</p>
<p>Known Limitations and Issues, not in the ReadMe.pdf</p>
<ul>
	<li>When Mercury is run as a service, mn_win is unable to find a group name and can not send to a group.</li>
	<li>When a user is member of a group where an email is send to and he is also member of the NOMAIL group an delivery error is issued.</li>
	<li>There is no support yet for email addresses like firstname.lastname@domain.com.</li>
</ul>
