---
layout: default
title: "Page not found"
permalink: /404.html
sitemap: false
---

<h1 class="not-found">Error 404</h1>

<div>
	<h1>Page not found</h1>
	<p>Oops, that URL is pointing to something that doesn't exist (anymore).</p>
	<p>Let's head <a href="{% link index.md %}">back home</a> and try to find it another way.</p>
</div>
