---
layout: default
title: About me
---

<h1>About me</h1>

<p>
	My name is Frank Fesevur, I live in the <a href="https://en.wikipedia.org/wiki/Netherlands">Netherlands</a>.
	I am married to <a href="https://bycaroline.art/">Caroline</a> and we have a son Menno.
	I work as a <a href="https://www.admea.nl">software developer and system administrator</a>.
	In my spare time I try to work on various open source <a href="{% link projects/index.html %}">projects</a>.
</p>
<p>
	If you want to contact me about one of my open source projects, use the contact information mentioned in the documentation of that project.
	For everything else you can send me an e-mail.
	The address is my last name at gmail dot com.
</p>
<p>The "social media" links I actually use:</p>
<p>
	<a href="https://gitlab.com/ffes" title="GitLab" class="social-media-logo">
		<i class="bi bi-gitlab social-media-logo"></i>
	</a>&nbsp;
	<a href="https://github.com/ffes" title="GitHub" class="social-media-logo">
		<i class="bi bi-github social-media-logo"></i>
	</a>&nbsp;
	<a href="https://www.strava.com/athletes/fesevur" title="Strava" class="social-media-logo">
		<i class="bi bi-strava social-media-logo"></i>
	</a>
</p>
<p>
	This site is built with <a href="https://jekyllrb.com/">Jekyll</a> v{{ jekyll.version }} based on commit <a href="https://gitlab.com/ffes/ffes.gitlab.io/commit/{% project_version commit long %}">{% project_version commit short %}</a>.
	The theme was <a href="{% post_url 2017/2017-10-15-blog-verhuisd %}">inspired</a> by the <a href="https://github.com/LordMathis/hugo-theme-nix/">Nix</a> theme for Hugo, but it has changed a lot over time.
	The navigation bar is the only thing that remains.
	The source code of the site can be found at <a href="https://gitlab.com/ffes/ffes.gitlab.io">GitLab</a>.
</p>
