---
layout: default
title: GPX Viewer
description: "GPX Viewer is a freeware viewer for GPX files for Windows Mobile/PocketPC based devices"
---

<img src="{% link assets/images/gpxviewer/logo.png %}" alt="GPX Viewer Logo" align="right" width="128" height="128" />

<h1>GPX Viewer</h1>

<h2>Introduction</h2>
GPX Viewer is a freeware viewer for <a href="http://en.wikipedia.org/wiki/GPS_eXchange_Format">GPX files</a>, hence the name. It works on Windows Mobile PocketPC based device that supports the .NET Compact Framework 2.0.<br/>
<br/>
A GPX file is an XML file that typically contains information about geocaches. These files can be obtains by premium members of <a href="http://www.geocaching.com/">geocaching.com</a> and many programs, like <a href="http://www.easygps.com/">EasyGPS</a> and <a href="http://www.gsak.net/">GSAK</a>. It is the main source of information for all <a href="http://en.wikipedia.org/wiki/Geocaching">geocachers</a> who practice paperless caching.

<h2>Requirements</h2>
<ul>
	<li>Windows Mobile device</li>
	<li><a href="http://www.microsoft.com/downloads/details.aspx?familyid=aea55f2f-07b5-4a8c-8a44-b4e1b196d5c0">.NET Compact Framework 2.0</a> or higher</li>
	<li>To generate GPX files on geocaching.com, you need to be Premium Member.</li>
	<li>Tested in the PocketPC 2003 SE emulator with a Garmin eTrex connected to the serial port. Tested and used in the field on a HTC TyTN II WM6.0 device, a phone with a built-in GPS receiver.</li>
	<li>It is untested on a Smartphone (without a touch screen).</li>
</ul>

<h2>Download</h2>

<p>To download version 1.2.1, click <a href="{{site.downloadUrl}}/gpxviewer-121.zip">here</a>. This file contains the installation program and the documentation.</p>

<h2>How to install</h2>
<ul>
	<li>Copy <code>GpxViewer-121.cab</code> from the archive to your device, start it from the Explorer and complete the standard installation steps.</li>
	<li>GPX Viewer appears in your Programs list and is ready to use.</li>
	<li>When you run it for the first time, it is advised to go through the Settings.</li>
	<li>If you have problems installing the .cab file, you can <a href="{{site.downloadUrl}}/gpxviewer-121-nocab.zip">download</a> the seperate files and install them manually.</li>
</ul>

<h2>Future of GPX Viewer</h2>

<p>I think there is no real future of GPX&nbsp;Viewer. The reason for this is that my old Windows Mobile phone died in the summer of 2010 and I now have an Android-based phone. So there is no personal need anymore to develop this application. And without an actual device it is <b>impossible</b> to really test changes to the software. The emulator just doesn't work for many things, like a moving GPS.</p>

<p>Furthermore, not that many people seem to be interested in Windows Mobile applications anymore. The number of visitors to my site are decreasing. And I don't get much feedback about the application, but maybe that is just because people are happy with GPX&nbsp;Viewer the way it is.</p>

<h2>Cache attributes in your Pocket Query</h2>

<p>Note that to enable the geocache attributes to be included in your Pocket Query, you need to update your <a href="http://www.geocaching.com/account/ManagePreferences.aspx">Account Preferences</a> and set the GPX Version to "GPX 1.0.1". A bit strange naming, it is not about the actual GPX version, but about the Groundspeak GPX extension.</p>

<h2>Screenshots</h2>

<img src="{% link assets/images/gpxviewer/screen1.png %}" title="Startup screen" alt="Screenshot 1" class="screen" width="240" height="320" />
<img src="{% link assets/images/gpxviewer/screen2.png %}" title="Filter the list of caches." alt="Screenshot 2" class="screen" width="240" height="320" />
<img src="{% link assets/images/gpxviewer/screen3.png %}" title="There is also a context menu, just hold the stylus down for one second." alt="Screenshot 3" class="screen" width="240" height="320" />
<br/>
<img src="{% link assets/images/gpxviewer/screen4.png %}" title="View the cache details." alt="Screenshot 4" class="screen" width="240" height="320" />
<img src="{% link assets/images/gpxviewer/screen5.png %}" title="Enter your Field Notes immediately when you find the cache." alt="Screenshot 5" class="screen" width="240" height="320" />
<img src="{% link assets/images/gpxviewer/screen6.png %}" title="Settings screen" alt="Screenshot 6" class="screen" width="240" height="320" />
<br/>

<h2>Release history</h2>

<b>Version 1.2.1</b> <small>(29 June 2010)</small>

<ul>
	<li>Fixed miscalculation in the bearing.</li>
	<li>The precision of the bearing can be adjusted in the Settings.xml, no UI for this.</li>
	<li>Upgraded ADO.NET SQLite library to version 1.0.66</li>
</ul>

<b>Version 1.2.0</b> <small>(12 November 2009)</small>

<ul>
	<li>Added support for the attributes made available in Groundspeak Pocket Queries.</li>
	<li>Added support new naming of Mystery / Puzzle caches in Groundspeak Pocket Queries. Both the texts "Unknown" and "Mystery/Puzzle" are recognized as Mystery.</li>
	<li>Various minor tweaks and improvements.</li>
</ul>

<b>Version 1.1.1</b> <small>(2 October 2009)</small>

<ul>
	<li>Fixed an issue when the <code>&lt;time&gt;</code> field in the GPX file was filled with a "empty" date.</li>
</ul>

<p>Thanks to Edward J. Morgan for reporting this and basic GPX file problem solved in 1.1.0</p>

<b>Version 1.1.0</b> <small>(30 September 2009)</small>

<ul>
	<li>If there is only one cache in the .gpx file, open this cache directly.</li>
	<li>Added an automatic count for found caches. On the General tab of the settings you can specify the current number of found caches. When you enter a new Found log, the counter will be increased and this counter will added in front of your own typed log. Note that the counter is only added to new created log! When the number of finds is set to 0 this feature is disabled.</li>
	<li>If the user opens an Additional Waypoints file (-wpts), try to open the main file instead.</li>
	<li>An altitude is not converted to kilometers or miles anymore, but is always shown in meters or feet.</li>
	<li>Hide the Reference Point tab when the Settings is opened from the list of caches.</li>
	<li>Fixed issue that a basic GPX file without geocaching information did show as an empty list. It now shows its waypoints again. Note that GPX Viewer is really geared towards geocaching GPX files.</li>
	<li>Upgraded <a href="http://sqlite.phxsoftware.com/">ADO.NET SQLite</a> library to version 1.0.65</li>
	<li>Various minor tweaks and improvements.</li>
</ul>

<b>Version 1.0.0</b> <small>(22 June 2009)</small>

<ul>
	<li>If there is only one cache in the .gpx file, open this cache directly.</li>
	<li>Added limited support for decoding BB-code in the logs.</li>
	<li>Added support for the Additional Waypoints (-wpts) file. The waypoints are added to the cache and shown as separate points in the cache details. These waypoints are also exported in the .loc file. When a .gpx file is generated directly from a cache page on geocaching.com the additional waypoints are stored in that single file. These waypoints are also recognized, as well as GSAK generated .gpx files which uses a similar approach.</li>
	<li>Added support for downloading the spoiler images from the images gallery of a cache.</li>
	<li>Renamed (mostly internally) <code>geocache_visits.txt</code> to <code>FieldNotes.txt</code>.</li>
	<li>Field Notes also supports "Webcam Photo Taken" for Webcam cache.</li>
	<li>GSAK generated .gpx files version 1.1 are now supported. With the 1.0 format the Groundspeak cache information is stored directly under the wpt-tag (the same way geocaching.com Pocket Queries are generated), as with 1.1 files this groundspeak cache information is stored under the extension-tag.</li>
	<li>Temporary downloaded images are automatically cleaned up after 21 days. This is configurable in the Settings.</li>
	<li>The font size of the list with caches and the font size of cache details are configurable. The default setting for both is 9pt. Note that the editing the Font size CSS doesn't always work as you might expect. The cache owners can put all sort of layout stuff in their cache description. These things have precedence over this setting. That just the way HTML and CSS work.</li>
	<li>Added a Text filter. With this you can filter the list of caches on a simple text. Nothing special yet like regular expressions. It simply tries to find the specified text (case insensitive) in the fields specified with the checkboxes.</li>
	<li>Added a Distance filter.</li>
	<li>Added an option "Get Images" to the Details settings to always download the images in a cache description. This is disabled by default.</li>
	<li>Adjusted the buttons to close the forms for a filter. There now is menu with an easier way to disable that filter.</li>
	<li>Upgraded ADO.NET SQLite library to version 1.0.62</li>
	<li>When GPX Viewer is ran for the first time, it tries to find the GPS settings from the registry. This helps the setup, when you have Windows Mobile 5 and up on your device.</li>
	<li>Fixed an exception when writing the Field Notes file. The original Field Notes files is now backup-ed before the new file is written. If it is written successfully, the backup is removed.</li>
	<li>Fixed an exception when there are multiple entries of the same waypoint name (aka GC code) in the GPX file.</li>
	<li>Various minor tweaks and improvements.</li>
</ul>

<p><b>Version 1.0.0 beta 2</b> <small>(29 May 2009)</small></p>

<p><b>Version 1.0.0 beta 1</b> <small>(5 May 2009)</small></p>

<b>Version 0.9.0</b> <small>(26 January 2009)</small>
<ul>
	<li>You can now edit the Reference Points in the Settings.</li>
	<li>It is possible to filter the caches in the list. At this moment only on cache types and the container sizes. More filters will come. Note that filters are not stored.</li>
	<li>There is a button in the Settings to clean all the downloaded temporary images. Automatic cleanup is not yet implemented.</li>
	<li>You can prevent that the device goes to stand-by mode when it is showing the cache details and the GPS form.</li>
	<li>When you open a GPX file with more than 100 caches in it, a confirmation is asked before closing the list of caches. This number is configurable in the Settings.</li>
	<li>Various other improvements to the Settings.</li>
	<li>Fixed an exception when the path in the settings to the geocache_visits.txt doesn't exist anymore, for instance when the storage card is removed.</li>
	<li>Reorganized the "Distance from" menu.</li>
	<li>Upgraded ADO.NET SQLite library to version 1.0.60</li>
	<li>Various minor tweaks and improvements.</li>
</ul>

<b>Version 0.8.1</b> <small>(24 September 2008)</small>
<ul>
	<li>Fixed a bug when parsing a GPS coordinate. On the southern and western hemisphere it would be wrong.</li>
	<li>Fixed a bug in the metric to imperial units conversions.</li>
	<li>Added an option to the cache information form to open the full cache page on geocaching.com in the default browser (not the wap version of the site). And this only works for geocaching.com caches. For other geocaching sites please provide the necessary information.</li>
	<li>Added option to log the raw GPS NMEA data to a text file. Can be useful for debugging problems with the GPS.</li>
	<li>Added an option to switch from metric to imperial units. It defaults to the systems default settings, so you probably don't have to change this.</li>
	<li>Various minor tweaks and improvements.</li>
</ul>

Thanks to Jeremiah J. Burton for the bug reports and testing for this release.<br/>
<br/>

<b>Version 0.8.0</b> <small>(17 September 2008)</small>
<ul>
	<li>The temporary images can now be retrieved from the Internet, stored locally and then shown on the cache page even without a working Internet connection. At the moment these retrieved images are not cleaned. To clean it manually, you can delete the file TempImages.sqlite and the directory TempImages from the programs directory.</li>
	<li>When exporting to a .loc file, the filename is suggested.</li>
	<li>The country and state/province (if available) are shown in the cache description.</li>
	<li>Use of the reference points in the menu of FormGpxFile</li>
	<li>Log type "Webcam Picture Taken" recognized.</li>
	<li>Added additional information about speed to the GPS form</li>
	<li>Upgraded ADO.NET SQLite library to version 1.0.58</li>
	<li>By default the Field Notes are stored in the My Documents folder.</li>
	<li>Renamed cache type from Puzzle to Mystery ('My' in the list). Changed all types in the list to two characters for clarification.</li>
	<li>In the Field Notes form, only the log types relevant to the cache type are shown.</li>
	<li>When the GC-name of a cache is not in the GPX files (like EasyGPS generated files), it is generated based upon the numeric ID.</li>
	<li>Various minor tweaks and improvements.</li>
</ul>

<b>Version 0.7.0</b> <small>(27 July 2008)</small>
<ul>
	<li>First public release.</li>
</ul>
