---
layout: default
title: NppSnippets, Snippets plug-in for Notepad++
description: NppSnippets is a Snippets plug-in for Notepad++. It adds the possibility to add code snippets to the current document by simply selecting it from a list.
---

<h1>NppSnippets, Snippets plug-in for Notepad++</h1>

<h2>Introduction</h2>

<p>NppSnippets is a plug-in for <a href="https://www.notepad-plus-plus.org/" target="_blank">Notepad++</a>. It adds the possibility to add code snippets to the current document by simply selecting it from a list.</p>

<h2>Download</h2>

<p>To download version 1.7.1 (2022-10-04), go to the <a href="https://github.com/ffes/nppsnippets/releases/tag/v1.7.1">download page on GitHub</a>.</p>

<h2>How to install</h2>

<p>The easiest way to install is to download it through the <code>Plugins Admin</code> in Notepad++.</p>

<p>To install manually copy all the files in the archive to the <code>plugins/NppSnippets</code> directory and (re)start Notepad++.</p>

<h2>How to use</h2>

<p>To open the Snippets window, click on the "Jigsaw" button on the toolbar, or via the menu "Plugins" &#x27a1; "Snippets" &#x27a1; "Snippets".</p>
<p>The window consist of two parts. A combo where you can select the library and underneath there is the list of snippets in the chosen library. To insert a snippet simply double click on the item in the list and the snippet is inserted at the current cursor position.</p>
<p>When you switch to another document with another language the snippets for that new language are read from the database.</p>
<p>To add or edit a snippet, right-click the snippet in the list and edit. To add or edit a library right-click the combo-box where you select the current library.</p>
<p>For more more information see the <a href="https://nppsnippets.readthedocs.io/">on-line documentation</a>.</p>

<h2>License</h2>

<p>This plugin is released under the GPL2-license. The source code can be found at <a href="https://github.com/ffes/nppsnippets">GitHub</a>.</p>

<p>For the complete release history, including the upcoming changes, see the <a href="https://nppsnippets.readthedocs.io/en/latest/changelog.html">on-line documentation</a>.</p>
