---
layout: default
title: NppTags
description: "NppTags is a Universal Ctags plug-in for Notepad++"
---

<h1>NppTags plug-in for Notepad++</h1>

<h2>Introduction</h2>

<p>NppTags is a <a href="https://ctags.io/">Universal Ctags</a> plug-in for <a href="https://notepad-plus-plus.org/">Notepad++</a>.</p>
<p>
	When you use Notepad++ to program in a popular programming language (like C, C++, Java, JavaScript, PHP), ctags can be very useful for you.
	It creates a so called tags file that can be used to navigate through your sources.
	This plug-in lets you jump to a selected function / variable / class / etc in your code by pressing just one key!
	When multiple tags are found you can select the right yourself.
</p>

<h2>Download</h2>

<p>To download version 0.9.1, go to the <a href="https://github.com/ffes/npptags/releases/tag/v0.9.1">releases page</a>. Version 0.9.1 was released on 11 April 2021.</p>

<p>The source code of NppTags can be found at <a href="https://github.com/ffes/npptags/">GitHub</a>.</p>

<h2>How to install</h2>

<p>
	To manually install the plug-in, in the <code>plugins</code> directory in the Notepad++ installation directory,
	create a folder named <code>NppTags</code> and place <code>NppTags.dll</code> and <code>ctags.exe</code> in that directory.
	Then (re)start Notepad++.
</p>

<h2>Screenshots</h2>

<div class="row">
	<div class="col-md-6">
		<img src="{% link assets/images/npptags/tree.png %}" title="Tree" alt="Tree" width="202" height="596" />
	</div>
	<div class="col-md-6">
		<img src="{% link assets/images/npptags/select.png %}" title="Select a tag" alt="Select a tag" width="550" height="259" />
	</div>
</div>

<h2>Documentation</h2>

<p>The documentation of NppTags can be found at <a href="https://npptags.readthedocs.io/">Read the Docs</a>. This includes:</p>

<ul>
	<li>Instructions <a href="https://npptags.readthedocs.io/en/latest/how-to-use.html">how to use</a>.</li>
	<li>Instructions <a href="https://npptags.readthedocs.io/en/latest/compile.html">how to build</a>.</li>
	<li>A complete <a href="https://npptags.readthedocs.io/en/latest/changelog.html">changelog</a>.</li>
</ul>
