---
layout: post
title: Fotoworkshop avondfotografie
date: 2012-05-19 22:38:00 +02:00
lang: nl
category: fotografie
tags:
- fotografie
- workshop
excerpt_separator: <!--more-->
---

<p>
	Mijn collega Bas had een fotoworkshop georganiseerd waar we samen met een acht collega's aan deel hebben genomen. Het thema van de workshop was <a href="https://twitter.com/RobTwitts070/status/203397237240369152">avondfotografie</a> en werd gegeven door <a href="http://www.wandelenmetdefotograaf.nl/">Rob</a>.
</p>
<!--more-->
<p>
	We verzamelden aan het begin van de avond in <a href="http://www.dudok.nl/">Dudok</a> in de Haagse binnenstad. Nadat Rob met iedereen individueel kort de camera had doorgenomen en even aftastte wat het kennisniveau was, legde hij kort wat theoretische hoofdpunten uit. Daarna gingen we op stap.
</p>
<img class="img-fluid" src="IMG_1930.JPG" />
<p>
	Als eerste richting het Spuiplein. Daar kregen we opdracht een portret te maken, met een goede belichting van de achtergrond en het model (lees: een collega) ingeflitst. Dus eerst moet je dan zoeken naar de juiste instellingen om de achtergrond goed belicht te krijgen, en vervolgens met deze instellingen en de flits het model fotograferen. Na wat geëxperimenteer met sluitertijd, diafragma en flitsintensiteit, kwamen de eerste goede foto's op het scherm. Belangrijk bij deze opdracht was vooral de techniek. De compositie was nu even minder belangrijk.
</p>
<p>
	Daarna gingen we door richting <a href="http://www.depassage.nl/">de Passage</a>. Aangezien je hier feitelijk binnen staat was het in eerste instantie dezelfde opdracht. Door het andere licht moet je dan toch weer even zoeken naar de juiste instellingen. Maar later werd de opdracht uitbreid met indirect flitsen en ook werd er nog geëxperimenteerd met twee flitsers.
</p>
<img class="img-fluid" src="IMG_1978.JPG" />
<p>
	Op de hoek van de Lange Vijverberg en de Kneuterdijk gingen we met het statief aan de slag om foto's maken van de verlichtte gebouwen van het Binnenhof, nog gebruik makend van de schemering. De camera op het statief, een lage ISO-waarde, een hoog F-getal en een lange sluitertijd krijg je dan mooie resultaten. Ook hier werd druk gespeeld met instellingen, invulflitsen en het extra belichten van specifieke onderdelen van het beeld. Wat ook erg leuke resultaten opleverde was het spelen met "beweging en lange sluitertijden" en met het "1e en 2e gordijn". Dit is het moment dat de flitser flitst. Hier heb ik zelf helaas niet mee kunnen stoeien, maar van collega's heb ik erg leuke resultaten gezien.
</p>
<p>
	Na afloop van deze avond nog een drankje gedronken bij Dudok en uiteraard nagepraat. En toen was deze erg leuke, gezellige maar ook zeker leerzame avond weer voorbij, met best <a href="https://plus.google.com/photos/115121761905426859417/albums/5744198031176672353">aardige resultaten</a>.
</p>
<p>
	Het leuke van deze workshop was dat het echt hands-on was. Voor een acceptabel bedrag met een professionele fotograaf en een groep enthousiaste mensen samen een avond lang leren, spelen, klooien, experimenteren met fotografie. Veel geleerd!
</p>
