---
layout: post
title: Pain is temporary, regret is forever
date: 2012-09-30 17:09:00 +02:00
lang: nl
excerpt_separator: <!--more-->
category: hardlopen
tags:
  - wedstrijd
  - hardlopen
  - lissabon
  - verslag
  - halve marathon
comments:
  - comment:
    author: Yvonne van Eck
    date: 2012-10-04 10:17:06 +02:00
    text:
      - "Wat een leuk verslag Frank! En zo herkenbaar, het had ook mijn verslag kunnen zijn. Behalve dan dat ik geen seconde aan opgeven heb gedacht, en er nog wat langer over heb gedaan dan jij [:)]. Waardoor er wel momenten zijn geweest dat ik vreesde uit de wedstrijd gehaald te zullen worden. Maar we hebben het toch mooi maar weer geflikt!"
  - comment:
    author: TeleRoel
    date: 2012-10-05 15:43:11 +02:00
    text:
      - "Was het warm dan? [:)] Ik was ook erg blij met alle waterposten en mijn pet: flink water erin en weer op mijn hoofd, heerlijk verkoelend en daarom heb ik redelijk door kunnen lopen. Top dat iedereen van onze groep gefinished is."
      - "Daarnaast genoten van Lissabon: wat een prachtige stad!"
---

<p>
	Vandaag was de grote dag, de <a href="http://www.meiamaratonadeportugal.com/">halve marathon in Lissabon</a>. De temperatuur was erg hoog, een daardoor was het halen van de finish het maximaal haalbare.
</p>
<!--more-->
<p>
	We moesten al <a href="https://twitter.com/FraCaMen/status/252279276076941312">vroeg op</a>, om 7 uur zaten we al aan het ontbijt. We moesten namelijk op tijd vertrekken met de metro naar de gebouwen van de Expo. Vanaf daar werden we met bussen vervoerd naar het startvak. Dit was gelegen bovenop de Vasco da Gamabrug. We waren mooi op tijd en kwamen in het startvak nog twee Nederlanders tegen die renden voor Kika. Om 10:30 uur klonk het startschot, en vrij snel waren we over de startlijn. De eerste paar kilometer was de afdaling vanaf de brug, maar het was al flink warm. Dit eerste stuk van de route was leuk lopen, maar nadat we op zo'n 5 kilometer de Expo-gebouwen waren gepasseerd gingen we het havengebied in. Daar was niets te beleven! Rond het 6 kilometerpunt kreeg ik het al zwaar en een blik op mijn horloge verklaarde alles. Ik had inmiddels een hartslag van bijna 180! Op deze manier ging ik de finish niet halen!
</p>
<p>
	Dus toen moest ik al gaan wandelen, dat was een flinke tegenvaller. Want als je eenmaal gewandeld hebt, wordt dat alleen maar vaker. Maar er was geen keuze!
</p>
<p>
	Bij het 12 kilometerpunt zouden Willem en Ronald staan om ons aan te moedigen. Dat was voor mij een mooi punt om heen te lopen. Hoe meer ik wandelde, hoe vaker de gedachte kwam om bij hun te stoppen! Waar was het dichtsbijzijnde metrostation? Maar eerst moest ik zien ze te bereiken. En door dat saaie, kale havengebied, waar verder niemand stond was het in deze hitte geen pretje om te hollen.
</p>
<p>
	Iedere drinkpost was een moment om te wandelen. En half flesje drinken en de andere helft over je hoofd gooien. Dat had deze organisatie heel goed op orde! Tot het einde toe was er ruim voldoende water, daar kunnen Nederlandse loopjes nog wat van leren!
</p>
<p>
	Langs de saaie route stonden dus erg weinig toeschouwers, wel regelmatig van die reclameborden met een matrixschermpje erin met de wisselend de tijd en de temperatuur. Ze waren het niet altijd met elkaar eens, want de ene gaf 27 °C terwijl een andere weer 28 °C aangaf. Veel te heet!
</p>
<p>
	Bij onze supporters aan de kant gestapt en mijn gevoelens over stoppen geventileerd. Daar kwam ik uiteraard niet mee weg, en toen Mieke voorbij kwam ben ik samen met haar richting het keerpunt gegaan, zo'n 500 meter verderop. Nu alleen nog maar naar de finish, nog "maar" 8 kilometer!
</p>
<p>
	Ineens schoot een uitzending van <a href="http://nl.wikipedia.org/wiki/Try_Before_You_Die">Try before you die</a> door mijn gedachte. Katja moest daarin van een hele hoge brug een bungeejump doen en vond dat doodeng. De begeleider sprak haar moed in met de zin "fear is temporary, regret is forever" *. In deze zin direct fear veranderd in pain. Deze nieuwe zin heb regelmatig tegen mezelf gezegd! Opgeven zou waarschijnlijk veel regret opleveren. Uiteraard heb ik wel steeds mijn hartslag in de gaten gehouden, want het moest natuurlijk wel allemaal verantwoord blijven.
</p>
<img class="img-fluid" src="img001.jpg" alt="Startnummer en medaille" />
<p>
	Op een gegeven moment liet ik Mieke achter me en kon ik een paar kilometer nog redelijk doorgaan. Onderweg kwam ik nog twee Nederlandse dames, die aan hun laatste halve marathon bezig waren.
</p>
<p>
	De laatste kilometers doorgeworsteld en met toch nog vaak wandelen uiteindelijk (min of meer) rennend over de finish gekomen. Een hele mooie, zwaar bevochten medaille was de beloning. Mijn tijd was ruim boven de 2½ uur, maar gegeven de hitte was dit vandaag het maximaal haalbare.
</p>
<p>
	Direct na de finish kregen alle lopers een Magnum-ijsje. Ik had even niet in de gaten dat het gebruikelijke drinken in tasjes werd uitgedeeld. Ik dacht dat het weer Portugese reclame was, dus ik bedankte voor die tasjes. Maar gelukkig stonden bij de uitgang de andere Kekwekkers iedereen op te wachten en kreeg ik van iemand een flesje. Toen alle onze lopers over de finish waren nog op de groepsfoto en terug richting hotel.
</p>
<p>
	In ieder geval alle Nederlandse lopers, zowel de onzen als anderen die ik onderweg tegenkwam, hadden het zwaar gehad. Deze temperaturen zijn niet fijn om zo'n eind in te lopen! Maar ik ben toch erg blij dat ik doorgegaan ben en niet afgehaakt hebt. Want... Pain is temporary, regret is forever!!!
</p>
<p>
	[ Deze blogpost is op de racedag geschreven op mijn telefoon, op de hotelkamer zittend op bed. Bij gebrek aan een normale pc is hij pas bij terugkomst in Nederland geplaatst, maar met de originele schrijfdatum.<br/>
	* Blijkt bij het terugkijken van die uitzending net even anders gezegd te zijn (zie 5:10). Ook is er de bekendere uitspraak: "pain is temporary, pride is forever", maar die kende ik tot op vandaag niet. ]
</p>
