---
layout: post
title: Simyo mobiel internet, het addertje
date: 2012-02-14 19:35:00 +01:00
last_modified_at: 2012-09-24 15:35:00 +02:00
lang: nl
excerpt_separator: <!--more-->
---

<p>
	Sinds eind vorig jaar heeft Menno een <a href="https://tweakers.net/pricewatch/292947/samsung-galaxy-txt-b5510-zwart.html">Samsung Galaxy Txt</a>, een betaalbare Android telefoon met BlackBerry-looks. Daarbij sluiten we per maand een prepaid internetbundel af bij <a href="http://www.simyo.nl/">Simyo</a>. Maar nergens op hun site staat het addertje vermeldt: ook al heb je €10,- betaald voor een internetbundel en is deze bundel nog lang niet op, je krijg alleen een verbinding krijgt zolang je nog beltegoed hebt!
</p>
<!--more-->
<p>
	Onze puber heeft nog niet echt veel benul van wat het bellen en sms'en allemaal kost. Dus prepaid is eigenlijk de enige keuze om niet achteraf voor grote verrassingen te komen te staan. Het is wel iets duurder, maar dan komen er achteraf geen grote rekeningen. En op zich is het bij Simyo allemaal duidelijk. Bellen en sms'en voor 10 cent en een maandbundel van 200MB voor €10,- Een redelijke prijs.
</p>
<p>
	Totdat begin vorige week ineens zijn mobiele internet het niet meer deed. Dus eerst de instellingen van de telefoon nagekeken, maar die waren goed. Vervolgens de simkaart uitgewisseld. Conclusie: het lag niet aan de telefoon.
</p>
<img class="img-fluid" src="simyo-1.png" />
<p>
	Dan maar bellen met de klantenservice. Gelukkig heeft Simyo een klantenservice die je kunt bellen. De vriendelijke jongeman kwam tot de conclusie dat het komt omdat je alleen een <b>internet</b>verbinding kunt maken als je een positief <b>bel</b>tegoed hebt.
</p>
<p>
	Daarop heb ik een <a href="https://twitter.com/FraCaMen/status/167546163338297345">boze tweet</a> de wereld ingestuurd, waarop vrij snel een <a href="https://twitter.com/simyonl/status/167558347124518914">reactie</a> van de <a href="http://twitter.com/simyonl">twitter-helpdesk</a> van Simyo kwam. Hij of zij was zo vriendelijk om het negatieve bedrag van -41 cent om te zetten in +1 cent. Ik heb gebruik gemaakt van het aanbod, maar het blijft toch een rare situatie. Met 1 cent kan je (uiteraard) ook niets, maar het is "toevallig" groter dan nul en dan werkt de internetverbinding wel.
</p>
<p>
	Ik voel me nog steeds <b>oneerlijk</b> behandelt. Je betaalt voor iets waar je geen gebruik van kunt maken. En op hun <a href="http://www.simyo.nl/prepaid/mobiel-internet">website</a> staat deze voorwaarde nergens vermeld.
</p>
<img class="img-fluid" src="simyo-2.png" />
<p>
	Ik heb hierover een klacht ingediend en ben benieuwd naar de reactie. Ik vrees een vrij standaard antwoord in de trant van "dat is het beleid, take it or leave it". En daar zit gelijk het probleem. Simyo is, voor zover ik kan vinden, de enige die een dergelijk product (200MB i.c.m. betaalbaar prepaid) aanbied.
</p>
<p>
	Dus wij zijn ook maar even met Menno om de tafel gaan zitten. We hebben hem nogmaals op het hart gedrukt dat hij iets voorzichtiger met zijn beltegoed moet omspringen.
</p>
<p>
	Wel een plusje voor de twitter-helpdeskmedewerk(st)er voor de aangeboden pleister. Bedankt!
</p>
<p>
	[Update september 2012: <a href="{% post_url 2012/2012-09-24-tweede-addertje-gevonden-bij-simyo %}">Tweede addertje gevonden</a>]
</p>
