<section class="posts">
	{% for post in site.posts limit:include.items %}
	<div class="post-list-item">
		<div class="post-header">
			<h4 class="post-date">{{ post.date | date_to_string }}</h4>
			<h3 class="post-link"><a href="{{ post.url }}">{% if post.draft %}Draft: {% endif %}{{ post.title }}</a></h3>
			{% if post.series %}
				{% if post.lang == 'nl' %}
					{% assign in_the_series = 'In de serie: ' %}
				{% else %}
					{% assign in_the_series = 'In the series: ' %}
				{% endif %}
				<h4 class="post-series">{{ in_the_series }}{{ post.series }}</h4>
			{% endif %}
		</div>
		<div class="post-summary">
			{{ post.excerpt }}
		</div>
		<div class="post-list-footer">
			<a href="{{ post.url }}" class="post-read-more">Click to read more</a>
		</div>
	</div>
	{% endfor %}
</section>
