<div class="card">
	<div class="card-header">
		<h5 class="card-title">
			{{ include.title }}
		</h5>
	</div>
	<div class="card-img-top">
		<figure class="img-fluid">
			<iframe width="425" height="350"
				src="https://www.openstreetmap.org/export/embed.html?bbox={{ include.bbox }}&amp;layer=mapnik">
			</iframe>
		</figure>
	</div>
	<div class="card-text">
		<a href="https://www.openstreetmap.org/?mlat={{ include.lat }}&mlon={{ include.lon }}#map=16/{{ include.lat }}/{{ include.lon }}" class="card-link" target="_blank">
			{% if page.lang == 'nl' %}
				Grotere kaart weergeven
			{% else %}
				View Larger Map
			{% endif %}
		</a>
	</div>
</div>
