.post-date {
	float: right;
	margin: 0;
}

.post-header {
	overflow: hidden;
	padding: 0 5px 0 5px;

	a:link, a:visited, a:hover, a:active {
		color: var(--header-color);
		text-decoration: none;
	}
}

.post {
	.alert-success {
		cursor: pointer;
		background-color: var(--bs-body-bg);
		border-color: var(--bs-body-color);
		color: var(--terminal-color);
	}
}

.post-content {
	p {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	img {
		max-width: 100%;
		height: auto;
	}
}

.post-summary, .post-content {
	clear: both;
}

.post-summary {
	padding: 0 5px 0 5px;
}

.post-list-footer {
	padding-bottom: 5px;
}

#post-list {
	list-style: none;
	padding-left: 0;
}

.post-list-item {
	margin-top: 20px;
	border-style: solid;
	border-width: 0 0 3px 0;
	border-color: var(--bs-body-color);
}

.post-arch {
	list-style: none;
}

.post-series {
	color: var(--post-series-color);
	padding-left: 2em;
}

.post-minutes {
	padding-bottom: 5px;
	font-size: 0.8em;
}

.post-last-modified {
	float: right;
	clear: both;
	font-size: 0.8em;
}

.post-header-links {
	font-size: 1.35rem;
	float: right;
	margin: 0;
}

.post-tag {
	display: inline-block;
	background: var(--post-tag-color);
	color: var(--bs-body-bg);
	padding: 0 .5rem;
	margin-right: .5rem;
	border-radius: 4px;
	font-size: 80%;
}

div.post-tags {
	margin-bottom: 2rem;
}

blockquote {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 3rem;
	padding-left: 1rem;
	border-left: 3px solid var(--post-series-color);
}

.blog-comment-author {
	font-weight: bold;
	color: var(--bs-heading-color);
}
