* {
	margin: 0;
}

body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

nav {
	background-color: var(--nav-bg-color);
	color: var(--nav-text-color);
	font-family: Inconsolata, monospace;
	font-size: 1.5em;

	#terminal-green {
		color: var(--terminal-green);
		margin-left: 10px;
	}

	.terminal-blue {
		color: var(--terminal-blue);
		font-size:  1.2rem;
		margin-right: 10px;
	}

	.terminal-white {
		color: var(--terminal-white);
		font-size:  1.2rem;
	}

	li {
		margin-left: 10px;
		margin-right: 10px;
	}

	.hamburger-icon {
		color: var(--nav-highlight-color);
		font-size: 1.5em;
	}

	a:link, a:visited, a:active {
		color: var(--nav-text-color);
		text-decoration: none;
	}

	a:hover {
		color: var(--nav-highlight-color);
		text-decoration: none;
	}
}

.wrapper {
	margin-top: 5rem;
	margin-bottom: 1.5rem;
}

a:link, a:visited, a:hover, a:active {
	color: var(--link-color);
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Montserrat', cursive;
}

div p {
	text-align: justify;
}

code {
	font-family: Inconsolata, monospace;
	color: var(--bs-code-color) !important;
}

td {
	color: var(--text-color);
}

th {
	font-weight: bold;
	color: var(--highlight-color);
}

a.social-media-logo {
	text-decoration: none;
}

i.social-media-logo {
	font-size: 2em;
	color: var(--terminal-green);
}

::selection {
	background: var(--sel-bg);
	color: var(--sel-color);
}

// 404 page

h1.not-found {
	font-family: "Libre Barcode 39 Text";
	font-size: 8em;
}
