$black: #000000;
$dark_blue: #011321;
$light_grey: #c8c8c8;
$white: #fdfdfd;
$blue: #569cd6;
$green: #619e57;

// Set theme colors
$color-mode-type: media-query;

@include color-mode(dark)
{
	:root
	{
		// Override default Bootstrap colors
		--bs-body-bg: #{$dark_blue};
		--bs-body-color: #{$light_grey};
		--bs-heading-color: #{$white};

		// Own theme colors
		--highlight-color: #{$white};
		--nav-bg-color: #{$black};
		--nav-text-color: #{$light_grey};
		--nav-highlight-color: #{$white};
		--link-color: #{$blue};
		--terminal-green: #{$green};
		--terminal-blue: #{$blue};
		--terminal-white: #{$light_grey};
		--post-series-color: #{$green};
		--post-tag-color: #{$green};
		--src-bg-color: #{$black};
		--src-text-color: #{$dark_blue};
		--sel-bg: #{$green};
		--sel-color: #{$light_grey};
	}
}

@include color-mode(light)
{
	:root
	{
		// Override default Bootstrap colors
		--bs-heading-color: #{$dark_blue};

		// Own theme colors
		--highlight-color: #{$dark_blue};
		--nav-bg-color: #{$black};
		--nav-text-color: #{$light_grey};
		--nav-highlight-color: #{$white};
		--link-color: #{$blue};
		--terminal-green: #{$green};
		--terminal-blue: #{$blue};
		--terminal-white: #{$light_grey};
		--post-series-color: #{$green};
		--post-tag-color: #{$green};
		--src-bg-color: #{$light_grey};
		--src-text-color: #{$white};
		--sel-bg: #{$green};
		--sel-color: #{$black};
	}
}
