/* Pygments Visual Studio Code Syntax highlighting styles */

.highlighter-rouge {
	background: var(--src-bg-color);
	color: var(--src-text-color);
}

pre.highlight {
	border-width: 1px;
	border-style: solid;
	border-color: var(--bs-body-color);
	border-radius: 4px;
	tab-size: 4;
	-moz-tab-size: 4;
	padding: 5px;
}

.highlight {

	background: #1E1E1E;
	color: var(--src-text-color);

	.c  { color: #618A51; }
	.err { color: #A61717; background-color: #1E1E1E; }
	.k  { color: #589CD3; }
	.o  { font-weight: bold; }
	.cm { color: #618A51; }
	.cp { color: #999999; font-weight: bold; }
	.c1 { color: #618A51; }
	.cs { color: #999999; font-weight: bold; font-style: italic; }
	.gd {
		color: #000000;
		.x {
			color: #000000;
		}
	}
	.ge { font-style: italic; }
	.gr { color: #AA0000; }
	.gh { color: #999999; }
	.gi {
		color: #000000;
		.x {
			color: #000000;
		}
	}
	.go { color: #888888; }
	.gp { color: #555555; }
	.gs { font-weight: bold; }
	.gu { color: #AAAAAA; }
	.gt { color: #AA0000; }
	.kc { color: #589CD3; }
	.kd { color: #589CD3; }
	.kp { color: #589CD3; }
	.kr { color: #589CD3; }
	.kt { color: #589CD3; }
	.m  { color: #009999; }
	.s  { color: #CD917A; }
	.na { color: #9DDBFB; }
	.nb { color: #9DDBFB; }
	.nc { color: #54C8B0; }
	.no { color: #008080; }
	.ni { color: #800080; }
	.ne { color: #990000; font-weight: bold; }
	.nf { color: #DCDCAD; font-weight: bold; }
	.nn { color: #54C8B0; }
	.nt { color: #54C8B0; }
	.nv { color: #008080; }
	.ow { color: #589CD3; font-weight: bold; }
	.w  { color: #BBBBBB; }
	.mf { color: #009999; }
	.mh { color: #009999; }
	.mi { color: #B5CEA4; }
	.mo { color: #009999; }
	.sb { color: #CD917A; }
	.sc { color: #CD917A; }
	.sd { color: #CD917A; }
	.s2 { color: #CD917A; }
	.se { color: #CD917A; }
	.sh { color: #CD917A; }
	.si { color: #CD917A; }
	.sx { color: #CD917A; }
	.sr { color: #009926; }
	.s1 { color: #CD917A; }
	.ss { color: #990073; }
	.bp { color: #999999; }
	.vc { color: #008080; }
	.vg { color: #008080; }
	.vi { color: #008080; }
	.il { color: #009999; }
	.ld { color: #E6DB74; }
	.nx { color: #9DDBFB; }
}
