---
layout: default
title: Notepad++ JavaScript API Documentation
description: Notepad++ JavaScript API Documentation
---

<style type="text/css">
div.functionDetails
{
	margin-left: 40px;
}
</style>

<div id="index">
<h2>Index</h2>
<h3>Cursor functions</h3>
<a href="#lineUp">void lineUp
		(
		count :
			int, extend :
			boolean
		)
	</a><br><a href="#lineDown">void lineDown
		(
		count :
			int, extend :
			boolean
		)
	</a><br><a href="#charLeft">void charLeft
		(
		count :
			int, extend :
			boolean
		)
	</a><br><a href="#charRight">void charRight
		(
		count :
			int, extend :
			boolean
		)
	</a><br><a href="#wordLeft">void wordLeft
		(
		count :
			int, extend :
			boolean
		)
	</a><br><a href="#wordRight">void wordRight
		(
		count :
			int, extend :
			boolean
		)
	</a><br><a href="#home">void home
		(
		count :
			int, extend :
			boolean
		)
	</a><br><a href="#lineStart">void lineStart
		(
		count :
			int, extend :
			boolean
		)
	</a><br><a href="#lineEnd">void lineEnd
		(
		count :
			int, extend :
			boolean
		)
	</a><br><a href="#pageUp">void pageUp
		(
		count :
			int, extend :
			boolean
		)
	</a><br><a href="#pageDown">void pageDown
		(
		count :
			int, extend :
			boolean
		)
	</a><br><a href="#paraUp">void paraUp
		(
		count :
			int, extend :
			boolean
		)
	</a><br><a href="#paraDown">void paraDown
		(
		count :
			int, extend :
			boolean
		)
	</a><br><a href="#documentStart">void documentStart
		(
		count :
			int, extend :
			boolean
		)
	</a><br><a href="#documentEnd">void documentEnd
		(
		count :
			int, extend :
			boolean
		)
	</a><br><a href="#lineScrollUp">void lineScrollUp
		(
		count :
			int
		)
	</a><br><a href="#lineScrollDown">void lineScrollDown
		(
		count :
			int
		)
	</a><br><a href="#getLineNumber">int getLineNumber
		(

		)
	</a><br><a href="#getColumnNumber">int getColumnNumber
		(

		)
	</a><br><h3>Clipboard functions</h3>
<a href="#cut">void cut
		(

		)
	</a><br><a href="#copy">void copy
		(

		)
	</a><br><a href="#paste">void paste
		(

		)
	</a><br><a href="#lineCut">void lineCut
		(

		)
	</a><br><a href="#lineCopy">void lineCopy
		(

		)
	</a><br><a href="#copyAllowLine">void copyAllowLine
		(

		)
	</a><br><a href="#canCut">boolean canCut
		(

		)
	</a><br><a href="#canCopy">boolean canCopy
		(

		)
	</a><br><a href="#canPaste">boolean canPaste
		(

		)
	</a><br><a href="#deleteChar">void deleteChar
		(

		)
	</a><br><a href="#backspaceChar">void backspaceChar
		(

		)
	</a><br><h3>Delete text functions</h3>
<a href="#deleteWordLeft">void deleteWordLeft
		(

		)
	</a><br><a href="#deleteWordRight">void deleteWordRight
		(

		)
	</a><br><a href="#deleteWordRightEnd">void deleteWordRightEnd
		(

		)
	</a><br><a href="#deleteLine">void deleteLine
		(

		)
	</a><br><a href="#deleteLineLeft">void deleteLineLeft
		(

		)
	</a><br><a href="#deleteLineRight">void deleteLineRight
		(

		)
	</a><br><a href="#deleteLine">void deleteLine
		(

		)
	</a><br><h3>Undo functions</h3>
<a href="#undo">void undo
		(

		)
	</a><br><a href="#redo">void redo
		(

		)
	</a><br><a href="#canUndo">void canUndo
		(

		)
	</a><br><a href="#canRedo">void canRedo
		(

		)
	</a><br><a href="#emptyUndoBuffer">void emptyUndoBuffer
		(

		)
	</a><br><a href="#beginUndoAction">void beginUndoAction
		(

		)
	</a><br><a href="#endUndoAction">void endUndoAction
		(

		)
	</a><br><h3>Various functions</h3>
<a href="#lineTranspose">void lineTranspose
		(

		)
	</a><br><a href="#lineDuplicate">void lineDuplicate
		(

		)
	</a><br><a href="#selectionDuplicate">void selectionDuplicate
		(

		)
	</a><br><a href="#insertText">void insertText
		(
		text :
			string
		)
	</a><br><a href="#alert">void alert
		(
		text :
			string
		)
	</a><br><a href="#console">void console
		(
		text :
			string
		)
	</a><br>
</div>
<div id="methodDescriptions">
<h2>Functions</h2>
<div class="functionGroup">
<h3>Cursor functions</h3>
<div class="functionDescription">
<h4>
<a name="lineUp"></a>void lineUp
		(
		count :
			int, extend :
			boolean
		)
	</h4>
<div class="functionDetails">
<p>
					Move the cursor 'count' lines up.
				</p>
<h5>Parameters</h5>
<dl>
<dt>count</dt>
<dd>
						The number of lines to move up.
					</dd>
<dt>extend</dt>
<dd>
						Boolean if the selection must be extended.
					</dd>
</dl>
</div>
</div>
<div class="functionDescription">
<h4>
<a name="lineDown"></a>void lineDown
		(
		count :
			int, extend :
			boolean
		)
	</h4>
<div class="functionDetails">
<h5>Parameters</h5>
<dl>
<dt>count</dt>
<dd></dd>
<dt>extend</dt>
<dd></dd>
</dl>
</div>
</div>
<div class="functionDescription">
<h4>
<a name="charLeft"></a>void charLeft
		(
		count :
			int, extend :
			boolean
		)
	</h4>
<div class="functionDetails">
<h5>Parameters</h5>
<dl>
<dt>count</dt>
<dd></dd>
<dt>extend</dt>
<dd></dd>
</dl>
</div>
</div>
<div class="functionDescription">
<h4>
<a name="charRight"></a>void charRight
		(
		count :
			int, extend :
			boolean
		)
	</h4>
<div class="functionDetails">
<h5>Parameters</h5>
<dl>
<dt>count</dt>
<dd></dd>
<dt>extend</dt>
<dd></dd>
</dl>
</div>
</div>
<div class="functionDescription">
<h4>
<a name="wordLeft"></a>void wordLeft
		(
		count :
			int, extend :
			boolean
		)
	</h4>
<div class="functionDetails">
<h5>Parameters</h5>
<dl>
<dt>count</dt>
<dd></dd>
<dt>extend</dt>
<dd></dd>
</dl>
</div>
</div>
<div class="functionDescription">
<h4>
<a name="wordRight"></a>void wordRight
		(
		count :
			int, extend :
			boolean
		)
	</h4>
<div class="functionDetails">
<h5>Parameters</h5>
<dl>
<dt>count</dt>
<dd></dd>
<dt>extend</dt>
<dd></dd>
</dl>
</div>
</div>
<div class="functionDescription">
<h4>
<a name="home"></a>void home
		(
		count :
			int, extend :
			boolean
		)
	</h4>
<div class="functionDetails">
<h5>Parameters</h5>
<dl>
<dt>count</dt>
<dd></dd>
<dt>extend</dt>
<dd></dd>
</dl>
</div>
</div>
<div class="functionDescription">
<h4>
<a name="lineStart"></a>void lineStart
		(
		count :
			int, extend :
			boolean
		)
	</h4>
<div class="functionDetails">
<h5>Parameters</h5>
<dl>
<dt>count</dt>
<dd></dd>
<dt>extend</dt>
<dd></dd>
</dl>
</div>
</div>
<div class="functionDescription">
<h4>
<a name="lineEnd"></a>void lineEnd
		(
		count :
			int, extend :
			boolean
		)
	</h4>
<div class="functionDetails">
<h5>Parameters</h5>
<dl>
<dt>count</dt>
<dd></dd>
<dt>extend</dt>
<dd></dd>
</dl>
</div>
</div>
<div class="functionDescription">
<h4>
<a name="pageUp"></a>void pageUp
		(
		count :
			int, extend :
			boolean
		)
	</h4>
<div class="functionDetails">
<h5>Parameters</h5>
<dl>
<dt>count</dt>
<dd></dd>
<dt>extend</dt>
<dd></dd>
</dl>
</div>
</div>
<div class="functionDescription">
<h4>
<a name="pageDown"></a>void pageDown
		(
		count :
			int, extend :
			boolean
		)
	</h4>
<div class="functionDetails">
<h5>Parameters</h5>
<dl>
<dt>count</dt>
<dd></dd>
<dt>extend</dt>
<dd></dd>
</dl>
</div>
</div>
<div class="functionDescription">
<h4>
<a name="paraUp"></a>void paraUp
		(
		count :
			int, extend :
			boolean
		)
	</h4>
<div class="functionDetails">
<h5>Parameters</h5>
<dl>
<dt>count</dt>
<dd></dd>
<dt>extend</dt>
<dd></dd>
</dl>
</div>
</div>
<div class="functionDescription">
<h4>
<a name="paraDown"></a>void paraDown
		(
		count :
			int, extend :
			boolean
		)
	</h4>
<div class="functionDetails">
<h5>Parameters</h5>
<dl>
<dt>count</dt>
<dd></dd>
<dt>extend</dt>
<dd></dd>
</dl>
</div>
</div>
<div class="functionDescription">
<h4>
<a name="documentStart"></a>void documentStart
		(
		count :
			int, extend :
			boolean
		)
	</h4>
<div class="functionDetails">
<h5>Parameters</h5>
<dl>
<dt>count</dt>
<dd></dd>
<dt>extend</dt>
<dd></dd>
</dl>
</div>
</div>
<div class="functionDescription">
<h4>
<a name="documentEnd"></a>void documentEnd
		(
		count :
			int, extend :
			boolean
		)
	</h4>
<div class="functionDetails">
<h5>Parameters</h5>
<dl>
<dt>count</dt>
<dd></dd>
<dt>extend</dt>
<dd></dd>
</dl>
</div>
</div>
<div class="functionDescription">
<h4>
<a name="lineScrollUp"></a>void lineScrollUp
		(
		count :
			int
		)
	</h4>
<div class="functionDetails">
<h5>Parameters</h5>
<dl>
<dt>count</dt>
<dd></dd>
</dl>
</div>
</div>
<div class="functionDescription">
<h4>
<a name="lineScrollDown"></a>void lineScrollDown
		(
		count :
			int
		)
	</h4>
<div class="functionDetails">
<h5>Parameters</h5>
<dl>
<dt>count</dt>
<dd></dd>
</dl>
</div>
</div>
<div class="functionDescription">
<h4>
<a name="getLineNumber"></a>int getLineNumber
		(

		)
	</h4>
<div class="functionDetails">
<h5>Return value</h5>
<p>
					The current line number of the cursor.
				</p>
</div>
</div>
<div class="functionDescription">
<h4>
<a name="getColumnNumber"></a>int getColumnNumber
		(

		)
	</h4>
<div class="functionDetails">
<h5>Return value</h5>
<p>
					The current column number of the cursor.
				</p>
</div>
</div>
</div>
<div class="functionGroup">
<h3>Clipboard functions</h3>
<div class="functionDescription">
<h4>
<a name="cut"></a>void cut
		(

		)
	</h4>
<div class="functionDetails"></div>
</div>
<div class="functionDescription">
<h4>
<a name="copy"></a>void copy
		(

		)
	</h4>
<div class="functionDetails"></div>
</div>
<div class="functionDescription">
<h4>
<a name="paste"></a>void paste
		(

		)
	</h4>
<div class="functionDetails"></div>
</div>
<div class="functionDescription">
<h4>
<a name="lineCut"></a>void lineCut
		(

		)
	</h4>
<div class="functionDetails"></div>
</div>
<div class="functionDescription">
<h4>
<a name="lineCopy"></a>void lineCopy
		(

		)
	</h4>
<div class="functionDetails"></div>
</div>
<div class="functionDescription">
<h4>
<a name="copyAllowLine"></a>void copyAllowLine
		(

		)
	</h4>
<div class="functionDetails"></div>
</div>
<div class="functionDescription">
<h4>
<a name="canCut"></a>boolean canCut
		(

		)
	</h4>
<div class="functionDetails"></div>
</div>
<div class="functionDescription">
<h4>
<a name="canCopy"></a>boolean canCopy
		(

		)
	</h4>
<div class="functionDetails"></div>
</div>
<div class="functionDescription">
<h4>
<a name="canPaste"></a>boolean canPaste
		(

		)
	</h4>
<div class="functionDetails">
<p>
					Is there something on the clipboard to paste?
				</p>
<h5>Return value</h5>
<p>
					Is there something on the clipboard to paste?
				</p>
</div>
</div>
<div class="functionDescription">
<h4>
<a name="deleteChar"></a>void deleteChar
		(

		)
	</h4>
<div class="functionDetails"></div>
</div>
<div class="functionDescription">
<h4>
<a name="backspaceChar"></a>void backspaceChar
		(

		)
	</h4>
<div class="functionDetails"></div>
</div>
</div>
<div class="functionGroup">
<h3>Delete text functions</h3>
<div class="functionDescription">
<h4>
<a name="deleteWordLeft"></a>void deleteWordLeft
		(

		)
	</h4>
<div class="functionDetails"></div>
</div>
<div class="functionDescription">
<h4>
<a name="deleteWordRight"></a>void deleteWordRight
		(

		)
	</h4>
<div class="functionDetails"></div>
</div>
<div class="functionDescription">
<h4>
<a name="deleteWordRightEnd"></a>void deleteWordRightEnd
		(

		)
	</h4>
<div class="functionDetails"></div>
</div>
<div class="functionDescription">
<h4>
<a name="deleteLine"></a>void deleteLine
		(

		)
	</h4>
<div class="functionDetails"></div>
</div>
<div class="functionDescription">
<h4>
<a name="deleteLineLeft"></a>void deleteLineLeft
		(

		)
	</h4>
<div class="functionDetails"></div>
</div>
<div class="functionDescription">
<h4>
<a name="deleteLineRight"></a>void deleteLineRight
		(

		)
	</h4>
<div class="functionDetails"></div>
</div>
<div class="functionDescription">
<h4>
<a name="deleteLine"></a>void deleteLine
		(

		)
	</h4>
<div class="functionDetails"></div>
</div>
</div>
<div class="functionGroup">
<h3>Undo functions</h3>
<div class="functionDescription">
<h4>
<a name="undo"></a>void undo
		(

		)
	</h4>
<div class="functionDetails"></div>
</div>
<div class="functionDescription">
<h4>
<a name="redo"></a>void redo
		(

		)
	</h4>
<div class="functionDetails"></div>
</div>
<div class="functionDescription">
<h4>
<a name="canUndo"></a>void canUndo
		(

		)
	</h4>
<div class="functionDetails"></div>
</div>
<div class="functionDescription">
<h4>
<a name="canRedo"></a>void canRedo
		(

		)
	</h4>
<div class="functionDetails"></div>
</div>
<div class="functionDescription">
<h4>
<a name="emptyUndoBuffer"></a>void emptyUndoBuffer
		(

		)
	</h4>
<div class="functionDetails"></div>
</div>
<div class="functionDescription">
<h4>
<a name="beginUndoAction"></a>void beginUndoAction
		(

		)
	</h4>
<div class="functionDetails"></div>
</div>
<div class="functionDescription">
<h4>
<a name="endUndoAction"></a>void endUndoAction
		(

		)
	</h4>
<div class="functionDetails"></div>
</div>
</div>
<div class="functionGroup">
<h3>Various functions</h3>
<div class="functionDescription">
<h4>
<a name="lineTranspose"></a>void lineTranspose
		(

		)
	</h4>
<div class="functionDetails"></div>
</div>
<div class="functionDescription">
<h4>
<a name="lineDuplicate"></a>void lineDuplicate
		(

		)
	</h4>
<div class="functionDetails"></div>
</div>
<div class="functionDescription">
<h4>
<a name="selectionDuplicate"></a>void selectionDuplicate
		(

		)
	</h4>
<div class="functionDetails"></div>
</div>
<div class="functionDescription">
<h4>
<a name="insertText"></a>void insertText
		(
		text :
			string
		)
	</h4>
<div class="functionDetails">
<p>
					Insert a text at the current cursor location. If there is any text selected, this old text is replaced.
				</p>
<h5>Parameters</h5>
<dl>
<dt>text</dt>
<dd>
						The text to insert.
					</dd>
</dl>
</div>
</div>
<div class="functionDescription">
<h4>
<a name="alert"></a>void alert
		(
		text :
			string
		)
	</h4>
<div class="functionDetails">
<p>
					Show a simple message box with the text.
				</p>
<h5>Parameters</h5>
<dl>
<dt>text</dt>
<dd>
						The text to show in the message box.
					</dd>
</dl>
</div>
</div>
<div class="functionDescription">
<h4>
<a name="console"></a>void console
		(
		text :
			string
		)
	</h4>
<div class="functionDetails">
<p>
					Show a text on the JavaScript console.
				</p>
<h5>Parameters</h5>
<dl>
<dt>text</dt>
<dd>
						The text to show on the JavaScript console.
					</dd>
</dl>
<h5>Comment</h5>
<p>
					When the JavaScript console is not initialized this function does nothing. Once it is initialized but not visible it does put text on the JavaScript console.
				</p>
</div>
</div>
</div>
</div>
