---
layout: default
title: NppJavaScript
description: NppJavaScript is a GPLv2 licensed plug-in for Notepad++ to extend it to add editable JavaScript macros.
---

<h1>NppJavaScript plug-in for Notepad++</h1>


<h2>Introduction</h2>

<p>NppJavaScript is a <a href="http://www.gnu.org/licenses/gpl-2.0.html" target="_blank">GPLv2</a> licensed plug-in for <a href="http://www.notepad-plus-plus.org/" target="_blank">Notepad++</a> to extend it to add editable JavaScript macros. Notepad++ is a free (free as in "free speech" and also as in "free beer") source code editor and Notepad replacement, which supports several programming languages, running under the Microsoft Windows environment. The plug-in uses the Mozilla JavaScript engine <a href="http://www.mozilla.org/js/spidermonkey/" target="_blank">SpiderMonkey</a> version 1.7. SpiderMonkey is used in all <a href="http://www.mozilla.org/" target="_blank">Mozilla products</a> like <a href="https://www.mozilla.org/firefox/" target="_blank">Firefox</a> and <a href="http://www.mozilla.org/thunderbird/" target="_blank">Thunderbird</a>.</p>

<h2>Download</h2>

<p>To download version 0.3.0, click <a href="{{site.downloadUrl}}/NppJavaScript-030.zip">here</a>. To download the sources, click <a href="{{site.downloadUrl}}/NppJavaScript-030-src.zip">here</a>.</p>

<h2>How to install</h2>

<p>Copy <code>NppJavaScript.dll</code> to the <code>plugins</code> directory and restart Notepad++.</p>

<h2>How to use</h2>

<p>Create a simple script like below and save it somewhere. Start the plug-in by selecting "Run JavaScript..." from the "Plugins" menu, by pressing Alt+M or press the JavaScript button on the toolbar, select the script file you have saved and see the magic. Error messages are shown on the console window that can be activated from the "Plugins" menu as well.</p>

<p>An <em>incomplete</em> documentation of the functions can be found <a href="{% link nppjavascript/docs.html %}">here</a>.</p>

<h2>Sample script</h2>

<pre class="highlight">beginUndoAction();<br/>insertText("We started here.");<br/>var i;<br/>for (i = 0; i &lt; 3; i++)<br/>    lineUp();<br/>insertText("We went up three lines.");<br/>endUndoAction();<br/>alert("done");<br/></pre>

<h2>Why JavaScript?</h2>

<p>Why did I choose to integrate JavaScript and not another popular scripting language? There is no real reason. I personally do like JavaScript and I know not every does.</p>

<h2>Release history</h2>

<p><strong>Version 0.3.0</strong> <small>(26 November 2008)</small></p>
<ul>
	<li>Added a lot of new functions. It can be used actually.</li>
	<li>A dockable console window. It needs much optimization. The GetDlgItemText() and SetDlgItemText() combination is not efficient at all. And newline are shown as boxes. And it is likely to cause various problems as well.</li>
	<li>Fixed crash in release build. <em>Many</em> thanks to <a href="http://peepor.net/loonchew/" target="_blank">LoonyChewy</a> for the patch.</li>
	<li>Started to write some documentation. The functions are described in an XML-file. With various XSL transformations that can be converted to various forms of output.</li>
</ul>

<p><strong>Version 0.0.1</strong> <small>(10 November 2008)</small></p>
<ul>
	<li>Not a real release. Posted a note in the forums about the development and provided a download link to the source to ask for help because of problem with release build.</li>
	<li>Release build crashes Notepad++ when a variable is declared with <code>var i;</code>
</ul>
