---
layout: post
title: Reeuwijkse Plassen
date: 2013-09-25 12:48:00 +02:00
lang: nl
excerpt_separator: <!--more-->
category: fotografie
tags:
- fotografie
- reeuwijkse plassen
---

<p>
	Afgelopen zondag ben ik weer eens op stap gegaan om foto's te maken.
	In eerste instantie wilde ik naar het typische Hollandse landschap bij Kinderdijk,
	maar door wat files rondom Rotterdam besloot ik naar de Reeuwijkse Plassen te gaan.
</p>
<!--more-->
<p>
	Samen met Caroline was ik begin van deze maand daar al geweest, maar toen zonder fototoestel.
	Ook hier vind je een typisch Hollands landschap dus was het niet zo moeilijk om nog eens terug te gaan,
	nu speciaal voor de foto's.
	Het zijn wel veel foto's met water geworden, maar dat is inherent aan de keuze van de locatie.
<p>
<p>
	Het lastige was weer om de juiste keuzes te maken.
	Welke foto's laat je zien en welke laat je afvallen?
	Deze in ieder geval niet!
</p>
<div class="row">
	<span class="pull-left col-lg-5">
		<img class="rounded img-fluid" src="img01.jpg">
	</span>
	<span class="pull-right col-lg-5">
		<img class="rounded img-fluid" src="img02.jpg">
	</span>
</div>

<p>
	De volgende foto moest ik over een hekje maken, dus er was niet veel keuze in camerastandpunt. Het is wel een van de mooiste foto's van de dag geworden. Het zonnetje brak net even mooi door.
</p>

<div class="row">
	<span class="pull-left col-lg-5">
		<img class="rounded img-fluid" src="img03.jpg">
	</span>
	<span class="pull-right col-lg-5">
		<img class="rounded img-fluid" src="img04.jpg">
	</span>
</div>
<p>
	Het rustige water en de weerspiegeling spreken voor zich.
</p>
<div class="row">
	<span class="col-lg-5">
		<img class="rounded img-fluid" src="img05.jpg" />
	</span>
</div>
<p>
	Dat jongetje...
</p>
<div class="row">
	<span class="col-lg-5">
		<img class="rounded img-fluid" src="img06.jpg" />
	</span>
</div>
