---
layout: default
title: Blog Archive
---

<h1>{{ page.title }}</h1>

{% for post in site.posts %}
	{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
	{% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

	{% if forloop.first %}
	<h3 id="{{ this_year }}-ref">{{this_year}}</h3>
	<ul class="post-arch">
	{% endif %}

	<li class="post-arch">
		<a class="post-title" href="{{ post.url }}">
			{% if post.draft %}Draft: {% endif %}{% if post.series %}{{ post.series }} - {% endif %}{{ post.title }}
			<small class="post-date">{{ post.date | date_to_string }}</small>
		</a>
	</li>

	{% if forloop.last %}
	</ul>
	{% else %}
		{% if this_year != next_year %}
		</ul>
		<h3 id="{{ next_year }}-ref">{{next_year}}</h3>
		<ul class="post-arch">
		{% endif %}
	{% endif %}
{% endfor %}
