---
layout: default
title: Blog Categories
---

<h1>{{ page.title }}</h1>

<div class="post-tags">
{% assign sorted_categories = site.categories | sort %}
{% for category in sorted_categories %}
	<a href="#{{ category[0] | slugify }}">
		<span class="post-tag" title="category: {{ category[0] }}"><i class="bi-bookmark-fill"></i> {{ category[0] }}</span>
	</a>
{% endfor %}
</div>

{% for category in sorted_categories %}
	<h2 id="{{ category[0] | slugify }}">{{ category[0] }}</h2>
	<ul class="post-arch">
	{% for post in category[1] %}
		<li class="post-arch">
			<a class="post-title" href="{{ post.url }}">
				{% if post.draft %}Draft: {% endif %}{% if post.series %}{{ post.series }} - {% endif %}{{ post.title }}
				<small class="post-date">{{ post.date | date_to_string }}</small>
			</a>
		</li>
	{% endfor %}
	</ul>
{% endfor %}

<h2>uncategorized</h2>
<ul class="post-arch">
{% for post in site.posts %}
	{% unless post.category %}
		<li class="post-arch">
			<a class="post-title" href="{{ post.url }}">
				{% if post.draft %}Draft: {% endif %}{% if post.series %}{{ post.series }} - {% endif %}{{ post.title }}
				<small class="post-date">{{ post.date | date_to_string }}</small>
			</a>
		</li>
	{% endunless %}
{% endfor %}
</ul>
