---
layout: default
title: Blog
---

<div class="post-header-links">
	<a href="{% link blog/archive.html %}">Archive</a>
	<a href="{% link blog/category.html %}">Categories</a>
	<a href="{% link blog/tag.html %}">Tags</a>
	<a href="{% link blog/series.html %}">Series</a>
</div>

<h1>{{ page.title }}</h1>

{% include blog-recent.html items=5 %}
