---
layout: default
title: Blog Series
---

<h1>{{ page.title }}</h1>

{% comment %}
Extract all the series from the posts and sort them
{% endcomment %}

{% assign series = "" %}
{% for post in site.posts %}
	{% if post.series %}
		{% if series == "" %}
			{% assign series = post.series %}
		{% endif %}
		{% unless series contains post.series %}
			{% assign series = series | append:'|' | append:post.series %}
		{% endunless %}
	{% endif %}
{% endfor %}
{% assign series = series | split:'|' | sort_natural %}

{% comment %}
List all the posts within the series
{% endcomment %}

{% for s in series %}
	<h2 id="{{ s | slugify }}">{{ s }}</h2>
	<ul class="post-arch">
	{% for post in site.posts %}
		{% if post.series contains s %}
			<li class="post-arch">
				<a class="post-title" href="{{ post.url }}">
					{% if post.draft %}Draft: {% endif %}{{ post.title }}
					<small class="post-date">{{ post.date | date_to_string }}</small>
				</a>
			</li>
		{% endif %}
	{% endfor %}
	</ul>
{% endfor %}
