---
layout: default
title: Blog Tags
---

<h1>{{ page.title }}</h1>

{% comment %}
Extract all the tags from the posts and sort the tags
{% endcomment %}

{% assign rawtags = "" %}
{% for post in site.posts %}
	{% assign ttags = post.tags | join:'|' | append:'|' %}
	{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort_natural %}

{% comment %}
Removes duplicated tags and invalid tags
{% endcomment %}

{% assign tags = "" %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}

<div class="post-tags">
	{% for tag in tags %}
	<a href="{{ tag | slugify }}">
		<span class="post-tag" title="tag: {{ tag }}"><i class="bi-tag-fill"></i> {{ tag }}</span>
	</a>
	{% endfor %}
</div>
