---
layout: post
title: Noord-Aa Polderloop 2012
date: 2012-02-13 12:43:00 +01:00
lang: nl
excerpt_separator: <!--more-->
category: hardlopen
tags:
  - wedstrijd
  - noord-aa polderloop
  - hardlopen
  - zoetermeer
  - verslag
comments:
  - comment:
    author: Patty
    date: 2012-02-15 15:13:19 +01:00
    text:
      - Gefeliciteerd Frank, je bent in vorm!
---

<p>
	Gisteren was mijn tweede deelname aan de <a href="http://www.noord-aa-polderloop.nl/">Noord-Aa Polderloop</a>. Deze loop wordt door de <a href="http://www.roadrunners-zoetermeer.nl/">Road Runners Zoetermeer</a> georganiseerd. Ook dit jaar liep ik weer als business runner op de 5 kilometer, en was ik namens <a href="http://www.smitsvanburgst.nl/">kantoor</a> de organisator.
</p>
<!--more-->
<p>
	We hadden ingeschreven met twee teams van ieder 5 lopers. Een dames- en een herenteam paste precies. Er liepen maar drie collega's mee, de rest was wel allemaal directe aanhang.
</p>
<p>
	Rond half één arriveerde ik in het clubhuis van de Road Runners. Daar ontvingen we het startnummer en de band waar dit startnummer aan vast gemaakt kon worden. Een leuk aandenken, nu heb ik er twee. Eén van de dames kon helaas niet komen, maar er was een (mannelijke) vervanger.
</p>
<img class="img-fluid" src="img001.jpg" alt="Groepsfoto" />
<p>
	De start van de 5 kilometer was om 13:10, tien minuten na de start van de 10 en 15 kilometer. Direct na de start was het even druk op het parcours. Het fietspad waar we over liepen was sneeuwvrij, maar de randen niet. Daardoor was het in de eerste paar honderd meter wat smal en soms lastig om in te halen. Ik ging daardoor wat hard van start, maar toen de eerste drukte voorbij was kon ik makkelijk mijn gewenste snelheid van 11 km/u vasthouden.
</p>
<p>
	Na de keerlus tussen de 2e en 3e kilometer kwam ik een stukje in de wind te lopen, maar dat was gelukkig niet zo heel lang. In de luwte van de bomen was het prima lopen. De bordjes van de 3 en 4 kilometer liep ik makkelijk voorbij, nog steeds met een lekker ritme. Na de start had ik niet meer op mijn horloge gekeken dus toen ik in de buurt van de finish kwam was het een aangename verrassing om de tijd te zien.
</p>
<img class="img-fluid" src="img002.jpg" alt="Sterk gefinisht" />
<p>
	De laatste 100 meter had ik nog over voor een echte eindsprint en kon ik op de finish mijn voorganger nog net inhalen. Ik kwam binnen na exact 27 minuten, maar 5 seconden boven mijn PR.
</p>
<p>
	Dus ik verliet Zoetermeer met een prima gevoel: heerlijk gelopen in de uitstekende tijd.
</p>
<p>
	Vanmorgen wachtte op kantoor nog een leuke verrassing. Het team waarin ik liep was derde geworden. We hadden allemaal een beker en een tas gekregen.
</p>
<img class="img-fluid" src="img003.jpg" alt="Prijs gewonnen" />
