---
layout: post
title: Vernieuwde NS-automaten
date: 2012-11-14 18:11:00 +01:00
lang: nl
excerpt_separator: <!--more-->
tags:
  - openbaar vervoer
comments:
  - comment:
    author: Anoniem
    date: 2013-03-05 13:04:34 +01:00
    text:
      - Wij zijn het er wel mee eens.
  - comment:
    author: Anoniem
    date: 2013-03-21 16:59:43 +01:00
    text:
      - Dat is exact waar ik vandaag tegenaan liep en dacht dat het aan mij lag dat ik een papieren kaartje kreeg voor mijn maand abo.
  - comment:
    author: Anoniem
    date: 2013-04-02 17:36:22 +02:00
    text:
      - Ahhh, ik stond vandaag ook al vertwijfeld naar de automaat te kijken. Ik ging er eigenlijk van uit dat het abonnement wel op de chipkaart geladen zou kunnen worden. Maar niet dus... dank voor de uitleg.
  - comment:
    author: Jolande
    date: 2013-05-03 20:40:32 +02:00
    text:
      - Tnx! Ik begon al aan mijzelf te twijfelen... Had de ns gebeld maar het enige dat ze mij konden vertellen was dat het via de automaat moest. (wij wonen in het buitenland en moesten nu tijdens onze nl-trip een maandtrajectkaart regelen voor onze dochter die weer in nl gaat wonen) Erg verwarrend allemaal hoor! Jolande
  - comment:
    author: Anoniem
    date: 2013-07-27 08:34:58 +02:00
    text:
      - Voor het eerst sinds een jaar of 30 in de OV wereld moeten stappen voor mijn kind die eind augustus per trein en bus naar school moet. Tja nog nooit iets te maken gehad met ook maar iets van deze OV-wereld. En dan wil je inderdaad op je ov kaart een maandkaart toevoegen... het angstzweet, bloed en tranen, groot doorzettingsvermogen etc nodig om mijn doel te bereiken. Wat maken die gasten het moeilijk zeg. Lijkt de belastingdienst wel ! Bedankt voor bovenstaande stukje uitleg ! Hebben ze geen functie open bij OV voor jou ??
---
<p>
	Afgelopen maandag moest ik een nieuwe maandkaart hebben voor mijn dagelijkse treinreis naar Zoetermeer. Ik mocht daardoor de vernieuwde NS-automaat ervaren. Waarom hebben ze het kopen van een papier kaartje zo moeilijk gemaakt?
</p>
<!--more-->
<figure class="figure">
	<img class="img-fluid" src="ns-automaat-startscherm.png" />
	<figcaption class="figure-caption">Wat moet ik kiezen?</figcaption>
</figure>
<p>
	De vernieuwde software van de automaat legt de focus op de ov-chipkaartgebruikers. Daar is best wat voor te zeggen maar het wordt de mensen die nog steeds een papieren kaartje moeten kopen, omdat het soms niet anders kan, wel erg moeilijk gemaakt. Als ervaren IT'er heb ik toch meestal geen moeite om mijn weg te vinden op dit soort dingen, maar het kostte me wel wat moeite om mijn abonnement te kopen.
</p>
<p>
	De enige reële optie voor mijn dagelijkse rit naar Zoetermeer is een maandtrajectkaart. Iedere dag op saldo reizen is duurder en andere abonnementsvormen zijn al helemaal veel te duur. Dus koop ik iedere maand, met mijn persoonlijke ov-chipkaart als stamkaart, een papieren maandtrajectkaart. Om de een of andere reden is het voor de NS niet mogelijk om dit als product op mijn ov-chipkaart te zetten. Eerst denk je dan, hoe moeilijk kan het zijn om de twee stations waartussen ik reis op te slaan en als ik bij de een instap en de ander uitstap de rit niet los door te berekenen? Maar wat doe je als je bij een tussengelegen station uitstapt? Dan hoef ik tenslotte ook niet apart te betalen. Kortom, er zullen best goede redenen voor zijn dat het nog steeds met papier moet.
</p>
<figure class="figure">
	<img class="img-fluid" src="ns-automaat-2e-scherm.png" />
	<figcaption class="figure-caption">En dan?</figcaption>
</figure>
<p>
	Terug naar de vernieuwde automaat. Het startscherm toont centraal een groot ov-chipkaartlogo met daar onder twee knoppen "Ik heb geen ov-chipkaart" en "Ik wil naar het buitenland". Welke moet ik hebben? Ik wil niet naar het buitenland en ik heb al een ov-chipkaart. Ik wil mijn vertrouwde maandkaart. Dan moet je dus blijkbaar op de knop "Ik heb geen ov-chipkaart" drukken. Waarom? Omdat er dan een scherm verschijnt waar toevallig, na enig zoeken, weggestopt in het hoekje, de keuze "Papieren kaartjes" staat. En vanaf daar was het allemaal weer bekend.
</p>
<figure class="figure">
	<img class="figure-img img-fluid" src="ns-automaat-zo-kan-het-ook.png" />
	<figcaption class="figure-caption">Zo kan het ook!</figcaption>
</figure>
<p>
	Maar waarom is deze knop om een papieren kaartje te kopen zo ontoegankelijk gemaakt?  Waarom zijn er wel directe keuzes voor het kopen van een ov-chipkaart (want dat suggereert die knop) en een buitenlandse reis? Worden die meer verkocht dan een papier kaart? Als ze op het startscherm in plaats van de huidige twee knoppen hier een derde knop "Papieren kaartje" bij zetten, lijkt mij dat veel handiger en gebruikersvriendelijker. Dus NS, doe iets met deze gratis, rechtenvrije tip!
</p>
<p>
	En nog een tip. Als ik mijn stamkaartnummer moet intikken, geef mij de optie om mijn ov-chipkaart laten uitlezen. Dan kan ik ook geen fout maken bij het overtikken van dat lange maar redelijk klein gedrukte nummer.
</p>
