---
layout: post
title: Koninginnedag in Delft
date: 2012-04-30 23:07:00 +02:00
lang: nl
excerpt_separator: <!--more-->
tags:
  - koninginnedag
  - delft
comments:
  - comment:
    author: Marco van den Arend
    date: 2012-05-01 13:12:18 +02:00
    text:
      - "In Den Haag was ook van alles te doen... Mijn zwager had voor de madurodam om 07.35 uur een ongeluk gehad. Klem met de tram zeg maar. Zijn dak is er vanaf geknipt en hij is naar het ziekenhuis gebracht. De ziekenwagen kon er gemakkelijk door, maar met de auto was het toch lastig overal doorheen komen. Lang verhaal inkorten: Het ziet er naar uit, dat hij snel naar huis mag en de schade is voornamelijk materieel. Vervangbaar dus."
      - PS Miste ik nu je blog over spamfollowers?
---

<p>
	Aangezien er in Den Haag niet echt Koninginnedag uitgebreid wordt gevierd, zijn Menno en ik vandaag ons heil ergens anders gaan zoeken.
</p>
<!--more-->
<p>
	Koninginnedag begint bij ons eigenlijk altijd met kijken naar de koningin op tv. Lekker kneuterig! Toen dat bijna was afgelopen zijn we naar het station gefietst en op de trein naar Leiden gestapt.
</p>
<p>
	Maar in Leiden was eigenlijk niet zo veel te beleven. Het was er druk en een hoop winkels waren open in het centrum, maar verder het niets bijzonders. Geen vrijmarkt, geen activiteiten, geen muziek, alleen een kleine kermis. Dus hier hadden we het snel gezien en we besloten om in Delft te gaan kijken.
</p>
<p>
	Op het station in Leiden was het ook vooral druk met vertrekkende mensen, voornamelijk in de richting van Amsterdam. Maar wij gingen, zoals gezegd, naar Delft.
</p>
<img class="img-fluid" src="img0133.jpg" alt="Langs de grachten was de vrijmarkt" />
<p>
	Het station van Delft is één grote bouwput, dus het duurde even voordat we in het centrum waren, maar onze reislust werd beloond. Delft was één groot gezellig, typische Koninginnedagfeest, inclusief vrijmarkt, veel lokale (?) coverbandjes op diverse kleine podia, heel veel oranje uitgedoste mensen (wij ook) en een groot podium op de Markt.
</p>
<img class="img-fluid" src="img0134.jpg" alt="Drukte bij grote podium Markt" />
<p>
	Kortom alle ingrediënten om er een leuke dag van te maken waren aanwezig. En daar kwam natuurlijk nog bij dat na weken van prutweer het eindelijk een echte mooie dag was. En heerlijke dag om zonder jas buiten te lopen, dat was lang geleden. En dat hielp natuurlijk ook om de feestvreugde te verhogen. Iedereen was vrolijk. Er hing een uitstekende sfeer, geen wanklank gehoord.
</p>
<img class="img-fluid" src="img0135.jpg" alt="Bandje langs het water" />
<p>
	Op de vrijmarkt was het vooral kijken en, behalve wat te eten en te drinken, niet kopen. Want we zijn zelf thuis bezig een hoop rommel af te voeren, dan ga je niet er weer nieuwe rommel bij kopen. Op de Markt hebben we nog staan luisteren naar een aardige band en toen was de dag al weer voorbij.
</p>
<p>
	Toen we op het station van Delft aankwamen, reden er op dat ogenblik geen treinen vanwege "een persoon op het spoor". We zagen aan beide kanten van het station de treinen stilstaan, maar de spoorloper hebben wij niet gezien. Toen na zo'n 10 minuten het treinverkeer weer op gang kwam waren we vlot weer in Den Haag.
</p>
<p>
	Dus als we volgend jaar weer Koninginnedag gaan vieren, zou het zomaar kunnen dat we weer in Delft uitkomen. Wij hebben er in ieder geval een zeer gezellige dag gehad.
</p>
