<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">
<head>
	<meta charset="utf-8">
	<title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans|Montserrat:800|Libre+Barcode+39+Text">
	<link rel="stylesheet" href="{% link assets/css/bundle.scss %}">
	<link rel="icon" href="{% link assets/images/favicon.ico %}" type="image/x-icon">
	<link rel="manifest" href="{% link assets/manifest.json %}">
	{% seo title=false %}
	{% feed_meta %}
</head>

<body>

	<nav class="navbar navbar-expand-md fixed-top" role="navigation">
		<div class="navbar-header">
			{% assign size = page.url | size | minus: 1 %}
			<a class="navbar-brand" id="terminal-green" href="{% link index.md %}">frank@fesevur</a><span class="terminal-blue d-none d-lg-inline">~{{ page.url | slice: 0, size }}</span><span class="terminal-white">$</span>
			<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarResponsive">
				<span class="hamburger-icon">&#x2630;</span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="nav navbar-nav ms-auto">
				<li><a href="{% link projects/index.html %}">~/projects</a></li>
				<li><a href="{% link gen/index.md %}">~/genealogy</a></li>
				<li><a href="{% link blog/index.html %}">~/blog</a></li>
				<li><a href="{% link about.html %}">~/about</a></li>
			</ul>
		</div>
	</nav>

	<section class="container content wrapper">
		{{ content }}
	</section>

	<script src="{% link lib/popper.min.js %}"></script>
	<script src="{% link lib/bootstrap.bundle.min.js %}"></script>

</body>
</html>
