---
layout: default
---

<section class="post">
	<h4 class="post-date" title="{{ page.date | date: '%Y-%m-%d %H:%M' }}">{{ page.date | date_to_string }}</h4>

	{% if page.last_modified_at %}
	<div class="post-last-modified" title="{{ page.last_modified_at | date: '%Y-%m-%d %H:%M' }}">
		{% if page.lang == 'nl' %}
			Bijgewerkt:
		{% else %}
			Updated:
		{% endif %}
		{{ page.last_modified_at | date_to_string }}
	</div>
	{% endif %}

	<h1 class="post-title">{% if page.draft %}Draft: {% endif %}{{ page.title }}</h1>

	{% if page.series %}
		{% assign posts_in_series = 0 %}
		{% assign this_post = 0 %}
		{% for post in site.posts reversed %}
			{% if post.series == page.series %}
				{% assign posts_in_series = posts_in_series | plus: 1 %}
				{% if post.url == page.url %}
					{% assign this_post = posts_in_series %}
				{% endif %}
			{% endif %}
		{% endfor %}

		<div class="alert alert-success" data-bs-toggle="collapse" data-bs-target="#series_list">
			{% if page.lang == 'nl' %}
				In de serie: <strong>{{ page.series }}</strong>, artikel {{ this_post }} van {{ posts_in_series }}.
			{% else %}
				In the series: <strong>{{ page.series }}</strong>, part {{ this_post }} of {{ posts_in_series }}.
			{% endif %}
		</div>
		<div id="series_list" class="collapse">
			{% assign count = 0 %}
			<ul>
			{% for post in site.posts reversed %}
				{% if post.series == page.series %}
					{% assign count = count | plus: 1 %}
					<li>
					{% if page.lang == 'nl' %}
						Nummer {{ count }} -
					{% else %}
						Part {{ count }} -
					{% endif %}
					{% if page.url == post.url %}
						{% if page.lang == 'nl' %}
							Dit artikel
						{% else %}
							This Article
						{% endif %}
					{% else %}
						<a href="{{ post.url }}">{{ post.title }}</a>
					{% endif %}
					</li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>

	{% endif %}

	{% assign words = page.content | number_of_words %}
    <div class="post-minutes" title="{{ words }} {% if page.lang == 'nl' %}woorden{% else %}words{% endif %}">
		{% assign minutes = words | divided_by: 200 | plus: 1 %}
		{% if page.lang == 'nl' %}
			Lees in {{ minutes }}
			{% if minutes == 1 %}
				minuut
			{% else %}
				minuten
			{% endif %}
		{% else %}
			A {{ minutes }} minute read
		{% endif %}
	</div>

	<div class="post-tags">
		{% if page.category %}
			<span class="post-tag" title="category: {{ page.category }}"><i class="bi-bookmark-fill"></i> {{ page.category }}</span>
		{% endif %}

		{% for tag in page.tags %}
		<a href="/blog/tag/{{ tag | slugify }}">
			<span class="post-tag" title="tag: {{ tag }}"><i class="bi-tag-fill"></i> {{ tag }}</span>
		</a>
		{% endfor %}
	</div>

	<div class="post-content">
		{{ content }}
	</div>

	{% if page.comments %}
	<hr>
	<h4>{% if page.comments.size == 1 %}1 Comment{% else %}{{ page.comments | size }} Comments{% endif %}</h4>
	{% for c in page.comments %}
	<div class="blog-comment">
		<div class="blog-comment-author">
			{{ c.author }}
		</div>
		<div class="blog-comment-text">
			{% for t in c.text %}
				<p>{{ t }}</p>
			{% endfor %}
		</div>
	</div>
	{% endfor %}
	{% endif %}

	<div class="row">
		<div class="col-md-6">
		{% if page.previous.url %}
			<a href="{{page.previous.url}}">&laquo; {{ page.previous.title }}</a>
		{% endif %}
		</div>
		<div class="col-md-6 text-end">
		{% if page.next.url %}
			<a href="{{page.next.url}}">{{ page.next.title }} &raquo;</a>
		{% endif %}
		</div>
	</div>

</section>
