---
layout: default
---

<h1>Blog Tag: {{ page.tag }}</h1>
<p>
	Blog posts containing this tag:
</p>
<ul>
{% for post in site.tags[page.tag] %}
	<li class="post-arch">
		<a class="post-title" href="{{ post.url }}">
			{% if post.draft %}Draft: {% endif %}{% if post.series %}{{ post.series }} - {% endif %}{{ post.title }}
		</a>
		<small class="post-date">{{ post.date | date_to_string }}</small>
	</li>
{% endfor %}
</ul>
