---
layout: default
---

<section class="post">

	<h1>{{ page.title }}</h1>

	<h2>{{ page.name }}</h2>

	<div class="post-content">
		{{ content }}
	</div>

	<div class="row">
		<div class="col-md-6">
		{% if page.previous.url %}
			<a href="{{page.previous.url}}">&laquo; {{ page.previous.name }}</a>
		{% endif %}
		</div>
		<div class="col-md-6 text-end">
		{% if page.next.url %}
			<a href="{{page.next.url}}">{{ page.next.name }} &raquo;</a>
		{% endif %}
		</div>
	</div>

</section>
