---
layout: post
title: Bijna naar Lissabon
date: 2012-09-26 21:36:00 +02:00
lang: nl
excerpt_separator: <!--more-->
category: hardlopen
tags:
- hardlopen
- training
- lissabon
- halve marathon
---

<p>
	Afgelopen week was de laatste echte trainingsweek voor de halve marathon komend weekend in Lissabon. Een prima week en een mooi lang weekend in het vooruitzicht met prima weer.
</p>
<!--more-->
<p>
	Donderdag was mijn laatste lange duurloop. Net geen 18 km (17,9 km). Ook deze keer kon ik mijn hartslag mooi tussen de 150 en 160 houden. De snelheid zakte tegen het einde wat weg, maar om 21:30 uur is dat ook niet heel vreemd.
</p>
<p>
	Al met al kan ik terugkijken op een prima aanloop naar de halve marathon. De laatste drie maanden over het algemeen drie keer per kunnen trainen. Op zaterdag en dinsdag bij <a href="http://www.kekwek.nl/">Kèkwèk</a>, met name snelheid en interval. En donderdags een lange duurloop. Alles samengevat in een overzicht.
</p>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Maand</th>
			<th>Afstand (km)</th>
			<th>Total tijd</th>
			<th>Calorieën</th>
			<th>Hartslag</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>juli</td>
			<td>61,41</td>
			<td>7:09:17</td>
			<td>6.175</td>
			<td>gem 151, max 177</td>
		</tr>
		<tr>
			<td>augustus</td>
			<td>109,36</td>
			<td>13:38:54</td>
			<td>10.835</td>
			<td>gem 144, max 178</td>
		</tr>
		<tr>
			<td>september</td>
			<td>81,30</td>
			<td>10:46:53</td>
			<td>7.903</td>
			<td>gem 142, max 177</td>
		</tr>
	</tbody>
</table>
<p>
	Als je die cijfers zo bekijkt, best mooie aantallen. Tezamen ruim 250 km in iets meer dan 31,5 uur hardgelopen in deze drie maanden. Best een afstand en tijd. Ik heb het gevoel dat ik er wel klaar voor ben.
</p>
<p>
	Het is te hopen dat het niet al te warm is komende zondag. De verwachte temperatuur voor de komende dag in Lissabon is rond de 27 °C en droog. Prima om de toerist uit te hangen, maar om te lopen... De wedstrijd is in de ochtend, dus hopelijk scheelt dat een beetje. We zullen zien en we zullen het er mee moeten doen.
</p>
<p>
	Mede door de verwachte warmte, heb ik geen ander doel gesteld dan finishen. Mijn vorige (en enige) halve marathon was bij de CPC, dus in de koele maand maart. Daar liep ik toen 2:04:58. Ik hoop daar een beetje in de buurt te blijven, al kunnen de omstandigheden wel medebepalend zijn.
</p>
<p>
	Ik ben nu mijn spullen alvast aan het klaarleggen. Mijn hardloopspullen, inclusief <a href="http://www.mile17.nl/">Mile17 shirt</a>, <a href="http://www.xsocks.nl/">X-Socks</a> en korte broek. Ook de zomerse t-shirts kunnen weer uit de kast komen, net als de gewone korte broeken. Een trui voor als het 's avonds toch wat afkoelt, kortom een tas vol. De hardloopschoenen aan of in de handbagage. Die zijn daar lastig te krijgen als onverhoopt de koffer kwijtraakt onderweg. Ook divere elektronica (telefoon, hardloophorloge, camera, etc) inclusief opladers en snoeren gaat mee. Uiteraard gaat ook de gps mee, wat ik wil toch wel een aantal geocaches vinden in Lissabon. De Pocket Query's en <a href="http://garmin.openstreetmap.nl/">OSM-kaart van Portugal</a> staan al klaar.
</p>
<p>
	Ik hoop dat ik vanuit Lissabon een blogpost kan schrijven. Ik neem geen laptop mee, maar hopelijk kan ik in het hotel een pc gebruiken. Meer dan een browser heb ik immers niet nodig.
</p>
<p>
	Maar nu weer aan de slag. Alles verder uitzoeken en klaarleggen. Ik heb er zin in!
</p>
