---
layout: post
title: Royal Ten 2012
date: 2012-05-14 12:45:00 +02:00
lang: nl
excerpt_separator: <!--more-->
category: hardlopen
tags:
- wedstrijd
- royal ten
- hardlopen
- verslag
---

<p>
	Gisteren was de Royal Ten, traditiegetrouw in mei. En gezellig drukke 5- en 10-kilometerloop rondom het Haagse Bos.
</p>
<!--more-->
<p>
	Aangezien het ook Moederdag was, gingen we eerst langs bij Caroline haar moeder. Rond één uur vertrok ik daar vandaan om met de fiets richting de start te gaan. Het was er al een flinke drukte met finishers van de 5 km en vooral mensen die op de start van de 10 km wachtten.
</p>
<img class="img-fluid" src="RoyalTen.jpg" />
<p>
	Vrij snel kwam ik Patricia tegen, en daarna Digna. Ook Jan hadden we vlot gevonden, dus de club van deelnemers van <a href="http://www.kekwek.nl/">Kekwek</a> begon al redelijk compleet te worden. Al wachtend vonden Eveline en Suzanne mij. Ook zij hadden er zin in, al zat bij Eveline de vakantie nog in haar benen. In het startvak waren de Kekwekkers, op Angelique na, compleet en iedereen ging met andere verwachtingen de wedstrijd in. Zelf wilde ik zolang mogelijk bij Patricia in de buurt blijven, maar in ieder geval was ik al tevreden met een snellere eindtijd dan bij de <a href="{% post_url 2012/2012-03-11-cpc-loop-2012 %}">CPC</a>.
</p>
<p>
	Het weer van de afgelopen dagen was nog steeds niet wat je van de lente verwacht. Fris en veel regen. Maar vandaag was het anders. Een stralende, zonnige dag en de temperatuur liep op tot tegen de 20 °C. Dat waren we niet meer gewend, dus het zou zomaar zwaar kunnen worden.
</p>
<p>
	Na de start konden Patricia en ik snel een lekker tempo oppakken, rond de 5:30 min per km. De drukte viel mee. Het was gezellig druk, maar er was voldoende ruimte om in te halen. Gelukkig maar, want met dit tempo ben je best veel aan het inhalen.
</p>
<p>
	Het tempo hielden we tot rond het 5 kilometerpunt goed vol, maar toen liep ik toch wat achterstand op op Patricia en na de drinkpost zag ik haar helemaal niet meer. Vanaf de 5 km ging de route het Haagse Bos in. Even uit de zon! Mijn tempo bleef goed, zo rond die 5:30 min per km. Maar bij kilometer 8 begon het hoge tempo langzaam zijn tol te eisen, zeker toen we daar weer een stukje in de volle zon liepen.
</p>
<p>
	Bij de 9e kilometer kwam ineens Patricia mij voorbij. Die had dus al die tijd achter mij gelopen en vertelde na afloop dat die achterstand bij de drinkpost was ontstaan. Dus konden we samen het laatste stuk doen.
</p>
<p>
	Maar dat waren voor mij echt de bekende "laatste loodjes". Met nog zo'n 500 meter te gaan ging het echt niet meer en ging ik wandelen. Maar daar waren de lopers om mij heen het niet mee eens, en dat lieten ze op motiverende wijze weten. Dus toch maar weer hardlopen tot aan de finish. Na 55:15 was ik binnen! En met een hartslag van 185, dat was lang geleden dat hij zo hoog was geweest. Die tijd betekende mijn tweede tijd ooit op de 10 km! De medaille en de roos</a> nam ik met trots aan.
</p>
<p>
	Patricia liep zelfs een PR met 54:54. Maar verder waren de meeste Kekwekkers minder tevreden. Behalve Digna, want die liep een dik PR. Maar de meesten hadden last van de warmte gehad en hadden wel eens beter gelopen. Zo ook Eveline, ook zij was <a href="https://twitter.com/EvelinedeJagher/status/201746541491388416">niet echt tevreden</a>.
</p>
<p>
	Maar ik wel! Ik ging met een supergevoel naar huis! Wat een tijd!!! En wat een hitte! (En wat een uitroeptekens!!!)
</p>
